<div class="flex items-center justify-between">
  <span class="font-medium text-2xl">Retenciones / Suspensiones</span>
  <div class="flex gap-x-4">
    <p-button icon="pi pi-filter" (click)="op.toggle($event)" />
    <p-button label="Agregar" icon="pi pi-plus" (onClick)="create()" />
  </div>
</div>

<div class="card mt-4">
  <p-table [value]="datasource()" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #caption>
      <div class="flex justify-end">
        <search-input placeholder="Buscar" (onSearch)="search($event)" />
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th style="width: 4rem"></th>
        <th>Codigo</th>
        <th>Archivo</th>
        <th>Tipo</th>
        <th>Circular</th>
        <th>Creacion</th>
        <th>Cantidad</th>
        <th style="width: 4rem"></th>
      </tr>
    </ng-template>
    <ng-template #body let-item>
      <tr>
        <td>
          @switch (item.status) { @case ("pending") {
          <i class="pi pi-exclamation-triangle" style="color: orange"></i>
          } @case ("completed") {
          <i class="pi pi-verified" style="color: green"></i>
          } @default { <i class="pi pi-question-circle"></i> } }
        </td>

        <td>{{ item.requestCode }}</td>
        <td>
          <p-button
            severity="secondary"
            class="truncate"
            label="Adjunto"
            icon="pi pi-file-pdf"
            size="small"
            (onClick)="showFile(item)"
          />
        </td>
        <td>{{ item.processTypeLabel }}</td>

        <td>
          @if(item.circularNumber){
          {{ item.circularNumber }}
          } @else {
          <span class="text-red-500">Sin asignar</span>
          }
        </td>
        <td>{{ item.createdAt | date : "short" }}</td>
        <td>{{ item.quantityDetail }}</td>

        <td>
          <p-menu
            #menu
            [popup]="true"
            [model]="menuOptions()"
            (onShow)="onShowOptionsMenu(item)"
            appendTo="body"
          ></p-menu>
          <p-button
            icon="pi pi-ellipsis-v"
            [rounded]="true"
            [text]="true"
            (onClick)="menu.toggle($event)"
          />
        </td>
      </tr>
    </ng-template>
    <ng-template #emptymessage>
      <tr>
        <td [colSpan]="7">Sin registros</td>
      </tr>
    </ng-template>
  </p-table>
  @if (datasize() > limit()){
  <div class="flex justify-end">
    <p-paginator
      [rows]="limit()"
      [first]="offset()"
      (onPageChange)="onPageChange($event)"
      [totalRecords]="datasize()"
      [showCurrentPageReport]="true"
      [showPageLinks]="false"
      [showJumpToPageDropdown]="false"
      currentPageReportTemplate="{first} - {last} de {totalRecords} Registros"
    ></p-paginator>
  </div>
  }
</div>

@if(isShowingFile()){
<p-dialog
  header="Archivo Adjunto"
  [modal]="true"
  [(visible)]="isShowingFile"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }"
  (onHide)="closeFileDialog()"
>
  <span class="p-text-secondary block mb-8">Archivo adjuntado</span>
  <pdf-viewer
    [src]="currentFileUrl()"
    [render-text]="false"
    [original-size]="false"
    style="width: 100%; height: 500px"
  />
</p-dialog>
}

<p-popover #op>
  <div class="flex flex-col gap-4 w-[25rem] p-2">
    <div class="flex items-center justify-between">
      <div class="text-xl">Filtro avanzado</div>
      <p-button icon="pi pi-times" [text]="true" (onClick)="op.hide()" />
    </div>
    <form [formGroup]="filterForm">
      <div class="mt-4 flex flex-col gap-y-4">
        <div>
          <p-select
            [options]="PROCESS_TYPES"
            optionLabel="label"
            placeholder="Tipo de solicitud"
            class="w-full"
            optionValue="value"
            formControlName="processType"
          />
        </div>
        <div>
          <p-select
            [options]="STATUS"
            optionLabel="label"
            placeholder="Estado del envio"
            class="w-full"
            optionValue="value"
            formControlName="status"
          />
        </div>
        <div>
          <p-datepicker
            [iconDisplay]="'input'"
            [showIcon]="true"
            inputId="icondisplay"
            class="w-full"
            styleClass="w-full"
            placeholder="Fecha creacion"
            optionValue="value"
            formControlName="createdAt"
          />
        </div>
        <div>
          <p-select
            [options]="STATES"
            optionLabel="label"
            placeholder="Asignacion circular"
            class="w-full"
            optionValue="value"
            formControlName="isAproved"
          />
        </div>
      </div>
    </form>

    <div class="flex justify-end gap-x-2 mt-4">
      <p-button
        label="Limpiar"
        severity="secondary"
        (onClick)="resetFilter()"
      />
      <p-button
        label="Filtrar"
        (onClick)="filter()"
        [disabled]="!isFilterFormValid"
      />
    </div>
  </div>
</p-popover>
